services:
  app:
    build: .
    ports:
      - "9000:9000"
    depends_on:
      - db
    environment:
      - MONGODB_URL=mongodb://db:27017/MONGODB_URL
    volumes:
      - ./.env:/app/.env

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
